@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
    font-family: "Parkinsans", serif;
    font-size: 22px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}